doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='HandheldFriendly', content='true')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //if gte IE 7
    //if IEMobile
    meta(name='format-detection', content='telephone=no')
    meta(name='generator', content='EDMdesigner, www.edmdesigner.com')
    title Untitled 03 Feb 2019 17:00:37 GMT
    // ##custom-font-resource##
    style(type='text/css', media='screen').
      * {line-height: inherit;}
      .ExternalClass * { line-height: 100%; }
      body, p{margin:0; padding:0; margin-bottom:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} img{line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} a img{border: none;} a, a:link, .no-detect-local a, .appleLinks a{color:#5555ff !important; text-decoration: underline;} .ExternalClass {display: block !important; width:100%;} .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: inherit; } table td {border-collapse:collapse;mso-table-lspace: 0pt; mso-table-rspace: 0pt;} .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: default; color: #5555ff !important; pointer-events: auto; cursor: default;} .no-detect a{text-decoration: none; color: #5555ff;
      pointer-events: auto; cursor: default;} {color: #5555ff;} span {color: inherit; border-bottom: none;} span:hover { background-color: transparent; }
      .nounderline {text-decoration: none !important;}
      h1, h2, h3 { margin:0; padding:0; }
      p {Margin: 0px !important; }
      table[class="email-root-wrapper"] { width: 600px !important; }
      body {
      }
      body { min-width: 280px; width: 100%;}
    style.
      @media only screen and (max-width: 599px),
      only screen and (max-device-width: 599px),
      only screen and (max-width: 400px),
      only screen and (max-device-width: 400px) {
      .email-root-wrapper { width: 100% !important; }
      .full-width { width: 100% !important; height: auto !important; text-align:center;}
      .fullwidthhalfleft {width:100% !important;}
      .fullwidthhalfright {width:100% !important;}
      .fullwidthhalfinner {width:100% !important; margin: 0 auto !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear:both !important; }
      .hide { display:none !important; width:0px !important;height:0px !important; overflow:hidden; }
      .desktop-hide { display:block !important; width:100% !important;height:auto !important; overflow:hidden; max-height: inherit !important; }
      }
    style.
      @media only screen and (min-width: 600px) {
      }
      @media only screen and (max-width: 599px),
      only screen and (max-device-width: 599px),
      only screen and (max-width: 400px),
      only screen and (max-device-width: 400px) {
      table[class="email-root-wrapper"] { width: 100% !important; }
      td[class="wrap"] .full-width { width: 100% !important; height: auto !important;}
      td[class="wrap"] .fullwidthhalfleft {width:100% !important;}
      td[class="wrap"] .fullwidthhalfright {width:100% !important;}
      td[class="wrap"] .fullwidthhalfinner {width:100% !important; margin: 0 auto !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear:both !important; }
      td[class="wrap"] .hide { display:none !important; width:0px;height:0px; overflow:hidden; }
      }
    //if (gte IE 7) & (vml)
      style(type='text/css').
        html, body {margin:0 !important; padding:0px !important;}
        img.full-width { position: relative !important; }
        .img300x198 { width: 300px !important; height: 198px !important;}
    //if gte mso 9
      style(type='text/css').
        .mso-font-fix-arial { font-family: Arial, sans-serif;}
        .mso-font-fix-georgia { font-family: Georgia, sans-serif;}
        .mso-font-fix-tahoma { font-family: Tahoma, sans-serif;}
        .mso-font-fix-times_new_roman { font-family: 'Times New Roman', sans-serif;}
        .mso-font-fix-trebuchet_ms { font-family: 'Trebuchet MS', sans-serif;}
        .mso-font-fix-verdana { font-family: Verdana, sans-serif;}
    //if gte mso 9
      style(type='text/css').
        table, td {
        border-collapse: collapse !important;
        mso-table-lspace: 0px !important;
        mso-table-rspace: 0px !important;
        }
        .email-root-wrapper { width 600px !important;}
        .imglink { font-size: 0px; }
        .edm_button { font-size: 0px; }
    //if gte mso 15
      style(type='text/css').
        table {
        font-size:0px;
        mso-margin-top-alt:0px;
        }
        .fullwidthhalfleft {
        width: 49% !important;
        float:left !important;
        }
        .fullwidthhalfright {
        width: 50% !important;
        float:right !important;
        }
    style(type='text/css', media='(pointer) and (min-color-index:0)').
      html, body {background-image: none !important; background-color: transparent !important; margin:0 !important; padding:0 !important;}
  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0', style='font-family:Arial, sans-serif; font-size:0px;margin:0;padding:0;')
    //if t
    //if t
    //if t
    //if t
    //if t
    //if t
    table(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='margin:0; padding:0; width:100% !important;')
      tbody
        tr
          td.wrap(align='center', valign='top', width='100%')
            center
              // content
              div(style='padding:0px')
                table(cellpadding='0', cellspacing='0', border='0', width='100%', bgcolor='#FFFFFF')
                  tbody
                    tr
                      td(valign='top', style='padding:0px')
                        table.email-root-wrapper(cellpadding='0', cellspacing='0', width='600', align='center', style='max-width:600px;min-width:240px;margin:0 auto')
                          tbody
                            tr
                              td(valign='top', style='padding:0px')
                                table(cellpadding='0', cellspacing='0', border='0', width='100%', style='border:0px none')
                                  tbody
                                    tr
                                      td(valign='top', style='padding:0px')
                                        table(cellpadding='0', cellspacing='0', width='100%')
                                          tbody
                                            tr
                                              td(style='padding:0px')
                                                table(cellpadding='0', cellspacing='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(align='center', style='padding:0px')
                                                        table.full-width(cellpadding='0', cellspacing='0', border='0', align='center', width='300', height='198', style='border:0px none;height:auto')
                                                          tbody
                                                            tr
                                                              td(valign='top', style='padding:0px')
                                                                img.full-width.img300x198(src='https://i.imgur.com/di4h8PQ.jpg', width='300', height='198', alt='', border='0', style='display:block;width:100%;height:auto')
                                                table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(valign='top', style='padding:10px')
                                                        div(style='text-align:left;font-family:Arial;font-size:14px;color:#000000;line-height:22px;mso-line-height:exactly;mso-text-raise:4px')
                                                          h2(style='font-family:Arial; font-size: 22px; color: #000000; font-weight: normal; line-height: 32px; mso-line-height: exactly; mso-text-raise: 5px; padding: 0; margin: 0;')
                                                            | Olá #{name}, percebemos, que esqueceu sua senha, fique tranquilo! Clique abaixo para redefinir.
                                                table(cellpadding='0', cellspacing='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(align='center', style='padding:0px')
                                                        table.full-width(cellpadding='0', cellspacing='0', border='0', align='center', style='text-align:center;color:#000')
                                                          tbody
                                                            tr
                                                              td(valign='top', align='center', style='padding:5px')
                                                                table.full-width(cellpadding='0', cellspacing='0', border='0', bgcolor='#F5B300', style='border:0px none;border-radius:5px;border-collapse:separate !important;background-color:#F5B300')
                                                                  tbody
                                                                    tr
                                                                      td(valign='top', align='center', style='padding:10px')
                                                                        a.edm_button(href= url, target='_blank', style='text-decoration:none')
                                                                          span(style='font-family:Lucida Grande, Lucida Sans, Lucida Sans Unicode, Verdana, sans-serif;font-size:22px;color:#FFFFFF;line-height:22px;text-decoration:none')
                                                                            span.mso-font-fix-verdana Redefinir senha
                                                table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(valign='top', style='padding:10px')
                                                        table(cellpadding='0', cellspacing='0', width='100%')
                                                          tbody
                                                            tr
                                                              td(style='padding:0px')
                                                                table(cellpadding='0', cellspacing='0', border='0', width='100%', style='border-top:2px solid #a9a9a9')
                                                                  tbody
                                                                    tr
                                                                      td(valign='top')
                                                                        table(cellpadding='0', cellspacing='0', width='100%')
                                                                          tbody
                                                                            tr
                                                                              td(style='padding:0px')
                                                table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(valign='top', style='padding:10px')
                                                        div(style='text-align:left;font-family:Arial;font-size:14px;color:#000000;line-height:22px;mso-line-height:exactly;mso-text-raise:4px')
                                                          p(style='padding: 0; margin: 0;text-align: center;')
                                                            a(href='https://grape-dev.com/', target='_blank', style='color: #0000ff !important; text-decoration: underline !important;')
                                                              font(style=' color:#0000ff;') Desenvolvido por GrapeDev
              // content end
